<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta content="text/html;charset=UTF-8"/>
<title>商品展示界面</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
<style type="text/css">
	#search{
		margin-top: 15px;
	}
</style>
</head>
<body>
<div class="col-md-5">
	<br/>
	<h3 th:text="${qq}"></h3>
	<button type="button" class="btn btn-info text-center col-md-2" 
	onclick="javascript:window.location.href='insertpro'">添加商品</button>
	<br/>
		<form method="post" action="search">
			<div class="form-group form-inline col-md-5"  id="search">
				<input type="text" class="form-control" id="exampleInputName2"
						placeholder="商品名称" name="search"/>
						<input type="submit" class="btn btn-info" value="搜索" />
			</div>
		</form>
	<table class="table table-striped table-bordered">
		<tr class="">
			<td>编号</td>
			<td>名称</td>
			<td>描述</td>
			<td colspan="2" class="text-center">操作</td>
		</tr>
		
		<tr th:each="product:${pageInfo.list}" >
			<td th:text="${product.id}"></td>
			<td th:text="${product.name}"></td>
			<td th:text="${product.description}"></td>
			<td><a th:href="@{'delete/'+${product.id}}" class="btn btn-danger">删除</a></td>
			<td><a th:href="@{'updateui?id='+${product.id}}" class="btn btn-primary">修改</a></td>
		</tr>
		
	</table>
			<a class="btn btn-info" th:href="@{'product?page='+${pageInfo.prePage}}">上一页</a>
			<a class="btn btn-info" th:href="@{'product?page='+${pageInfo.nextPage}}">下一页</a>
</div>
</body>
</html>